html{
  color: #111;
  background: #FFF;
  line-height: 28px;
  font-size: 16px;
}

h1{
  color: #090;
}



/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */
.g body { position: relative; }

.g body::after { background: url('data:image/svg+xml;utf8,<svg height="27" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
content: "";
display: block;
pointer-events: none;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 9999;
position: absolute;
}

.g body:active::after { display: none; }
